[run]
source =
    qatool
branch = True
parallel = True
relative_files = True
omit =
    */__main__.py
    */tests/*
    */test_*.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: 
    raise NotImplementedError

[html]
directory = coverage_html

[xml]
output = coverage.xml
